<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>


<!-- ------------------------------------------------------
------------------------------------------------------- -->
###FEUSER_LIST###

###FEUSERS###
<h2>List of FE-Users</h2>
<ul>
###FEUSER###
<li>###FEUSER_DETAILSLINK######FEUSER_NAME######FEUSER_DETAILSLINK###
###FEUSER###
</ul>

<!-- ###PAGEBROWSER### -->
<div class="t3users-pagebrowser">
###PAGEBROWSER_CURRENT_PAGE###
Page ###PAGEBROWSER_CURRENT_PAGE_NUMBER###
###PAGEBROWSER_CURRENT_PAGE###

###PAGEBROWSER_NORMAL_PAGE###
###PAGEBROWSER_NORMAL_PAGE_LINK###Page ###PAGEBROWSER_NORMAL_PAGE_NUMBER### ###PAGEBROWSER_NORMAL_PAGE_LINK###
###PAGEBROWSER_NORMAL_PAGE###

###PAGEBROWSER_PREV_PAGE###
&nbsp;###PAGEBROWSER_PREV_PAGE_LINK###<###PAGEBROWSER_PREV_PAGE_LINK###&nbsp;
###PAGEBROWSER_PREV_PAGE###

###PAGEBROWSER_NEXT_PAGE###
&nbsp;###PAGEBROWSER_NEXT_PAGE_LINK###>###PAGEBROWSER_NEXT_PAGE_LINK###&nbsp;
###PAGEBROWSER_NEXT_PAGE###

###PAGEBROWSER_FIRST_PAGE###
###PAGEBROWSER_FIRST_PAGE_LINK### |< ###PAGEBROWSER_FIRST_PAGE_LINK###
###PAGEBROWSER_FIRST_PAGE###

###PAGEBROWSER_LAST_PAGE###
###PAGEBROWSER_LAST_PAGE_LINK### >| ###PAGEBROWSER_LAST_PAGE_LINK###
###PAGEBROWSER_LAST_PAGE###

</div>
<!-- ###PAGEBROWSER### -->

###FEUSERS###

###FEUSER_LIST###


<!-- ------------------------------------------------------
------------------------------------------------------- -->
<pre>
Markers for User starting with FEUSER_. Append any database column name in uppercase letters.
Examples:
FEUSER_USERNAME
FEUSER_EMAIL
FEUSER_PHONE
...
</pre>

###FEUSER_DETAILS###

<h2>###FEUSER_NAME###</h2>
###FEUSER_IMAGE###
<dl>
<dt>Username:</dt> <dd>###FEUSER_USERNAME###</dd>
<dt>Email:</dt> <dd>###FEUSER_EMAIL###</dd>
<dt>Web:</dt> <dd>###FEUSER_WWW###</dd>
</dl>
###FEUSER_FEGROUPS###
This user is member of these Groups:
<ul>
###FEUSER_FEGROUP###
<li>###FEUSER_FEGROUP_TITLE###
###FEUSER_FEGROUP###
</ul>
###FEUSER_FEGROUPS###

###FEUSER_DETAILS###

</body>
</html>