<html>
<head>
</head>
<body>

###RESETPASSWORD_FORM###
<h2>Bitte setzen Sie ein neues Passwort.</h2>
<form method="POST" action="###ACTION_URI###">
<strong>###MESSAGE###</strong>
<div>
<label for="pass1">Passwort:</label>
<input type="text" id="pass1" name="t3users[pass1]"><br />
<label for="pass2">Wiederholung:</label>
<input type="text" id="pass2" name="t3users[pass2]">
<br/>
<input type="submit" name="t3users[submit]" value="Absenden" />
</div>

</form>

###RESETPASSWORD_FORM###

###RESETPASSWORD_CONFIRMFAILED###
<div>
<h2>Der Aufruf ist nicht mehr gültig.</h2>
<p>Bitte fordern Sie eine neue Email an.</p>
</div>
###RESETPASSWORD_CONFIRMFAILED###

###RESETPASSWORD_FINISHED###
<div>
<h2>Das neue Passwort wurde gespeichert.</h2>
</div>
###RESETPASSWORD_FINISHED###

</body>
</html>