<html>

<body>

Vorlage für die Verwaltung Praxisbörse

###FEUSER###
    <!-- Dieser Teil wird in allen Sub-Modulen integriert -->
    <!-- ###COMMON_START### START -->
    <!-- ###COMMON_START### END -->

    <!-- ###COMMON_END### START -->
    <div class="mkcommon">
        <h2 class="bgColor2 t3-row-header">###LABEL_COMMON_END###</h2>
        <div class="tables graybox">
            <div class="cleardiv"></div>

            <pre>Mod
<!--        -->Parsetime  ###MOD_PARSETIME###s
<!--        -->Mem used   ###MOD_MEMUSED### Bytes
<!--        -->Mem start  ###MOD_MEMSTART### Bytes
<!--        -->Mem end    ###MOD_MEMEND### Bytes</pre>
        <div class="cleardiv"></div>
        </div>
    </div>
    <!-- ###COMMON_END### END -->

    ###COMMON_START###
    <!-- ###MANAGEFEUSER### -->
        <div class="tables graybox mksearchform">
            <h2 class="bgColor2 t3-row-header">###LABEL_SEARCH_FORM###</h2>
            ###SEARCHFORM###
        </div>

        <div class="tables graybox mkbuttons">
            <h2 class="bgColor2 t3-row-header">###LABEL_BUTTONS###</h2>
            ###BUTTON_FEUSER_NEW###
        </div>

        <div class="tables graybox mkpager">
            <h2 class="bgColor2 t3-row-header">###LABEL_PAGER###</h2>
            ###PAGER###
        </div>

        <div class="cleardiv"></div>

        <h2 class="bgColor2 t3-row-header">###LABEL_LIST### <span class="mklistsize">(###LABEL_LIST_SIZE### ###SIZE###)</span></h2>
        <div class="mklist">###LIST###</div>
    <!-- ###MANAGEFEUSER### -->
###FEUSER###

</body>
</html>
