<h2>Template for the Registration</h2>
###REGISTRATION###

    ###PART_REGISTER###
        ###FORM###
    ###PART_REGISTER###

    ###PART_REGISTERFINISHED###
        <p>Die Daten wurden gespeichert. Eine Bestätigungsmail wurde an Ihre Webadresse geschickt.</p>
    ###PART_REGISTERFINISHED###

    ###PART_CONFIRMED###
        <p>Der Account wurde erfolgreich aktiviert.</p>
    ###PART_CONFIRMED###

    ###PART_CONFIRMFAILED###
        <p>Die Aktivierung ist fehlgeschlagen.</p>
    ###PART_CONFIRMFAILED###

    ###PART_ADMINREVIEWMAILSENT###
        <p>Die Registrierung wird nun durch einen Administrator geprüft. Sie werden benachrichtigt bei einer erfolgreichen Prüfung.</p>
    ###PART_ADMINREVIEWMAILSENT###

    ###PART_ADMINREVIEWMAILSENTALREADY###
        <p>Die Registrierung wird bereits durch einen Administrator geprüft. Sie werden benachrichtigt bei einer erfolgreichen Prüfung.</p>
    ###PART_ADMINREVIEWMAILSENTALREADY###

###REGISTRATION###


<h2>Template for the registration confirmation</h2>
###REGISTRATIONCONFIRM###

    ###PART_CONFIRMED###
        <p>Der Account für ###FEUSER_USERNAME### wurde erfolgreich aktiviert.</p>
        ###FEUSER_FEGROUPS###
            <h4>You are member of this groups:</h4>
            <ul>
                ###FEUSER_FEGROUP###
                    <li>###FEUSER_FEGROUP_TITLE###
                ###FEUSER_FEGROUP###
            </ul>
        ###FEUSER_FEGROUPS###

    ###PART_CONFIRMED###

    ###PART_CONFIRMFAILED###
        <p>Die Aktivierung ist fehlgeschlagen.</p>
    ###PART_CONFIRMFAILED###

###REGISTRATIONCONFIRM###


<h2>Template for the registration form which should be configured in the XML file (look at EXT:t3users/Resources/Private/Forms/registration.xml)</h2>
###REGISTRATIONFORM###

    <!-- ###EDITION-BOX### start-->
        <div style="display: {formerrors.cssdisplay};">
            <p>Please confirm your data:</p>
            {formerrors}
        </div>


        <div>
            <h2>Nutzerdaten</h2>
            <dl>
            <dt>{username.label}</dt> <dd>{username.input}</dd>
            <dt>{first_name.label}</dt> <dd>{first_name.input}</dd>
            <dt>{password.label}</dt> <dd>{password.input}</dd>
            <dt>{password_confirm.label}</dt> <dd>{password_confirm.input}</dd>
            <dt>{email.label}</dt> <dd>{email.input}</dd>
            <dt>{birthday.label}</dt> <dd>{birthday.input}</dd>

            <dt>{image.label}</dt> <dd>{image.input} {imagethumb}</dd>


            </dl>

        </div>

        <div>
            <p>{logo.label}: {logo.input}</p>
            <p>{imagethumb}</p>
        </div>

        {btnsubmit}
    <!-- ###EDITION-BOX### end-->

###REGISTRATIONFORM###


###CONFIRMATIONMAIL###
Confirm your registration
Thank you for your application to become a member of ###SITENAME###.
Everyone is welcome to browse around our website but you will need to confirm your membership to have
unrestricted access to all areas. Your username is &quot;###FEUSER_USERNAME###&quot;

To confirm your membership please click on this link: ###MAILCONFIRM_LINKURL###
###CONFIRMATIONMAIL###
